# MSDS 7331 - Project 1 - Visualization
## Team: Dineen Parker, Dale Legband, Ryan Shuhart

In [1]:
### Modules Used ###

# Pandas Module for data manipulation
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)


# pandas_profiling is a handy tool for inspecting data
# https://github.com/JosPolfliet/pandas-profiling
# pip install pandas-profiling
import pandas_profiling

# Business Understanding (10 points total).
* Describe the purpose of the data set you selected (i.e., why was this data collected in
the first place?). 
* Describe how you would define and measure the outcomes from the
dataset. That is, why is this data important and how do you know if you have mined
useful knowledge from the dataset? 
* How would you measure the effectiveness of a
good prediction algorithm? Be specific.

http://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients

# Data Understanding (80 points total)

In [2]:
# load the data into memory source. First row are for reference with headings starting on line 2.
# ID field is use as the index field in the data frame
cc_data = pd.read_excel("./cc_data/default of credit card clients.xls", skiprows=1, index_col='ID')

* [10 points] Describe the meaning and type of data (scale, values, etc.) for each
attribute in the data file.

In [3]:
print(cc_data.head())
print(cc_data.info())
print(cc_data.describe())
#profile = pandas_profiling.ProfileReport(cc_data)
#profile.to_file(outputfile="./myoutputfile.html")

    LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
ID
1       20000    2          2         1   24      2      2     -1     -1
2      120000    2          2         2   26     -1      2      0      0
3       90000    2          2         2   34      0      0      0      0
4       50000    2          2         1   37      0      0      0      0
5       50000    1          2         1   57     -1      0     -1      0

    PAY_5  PAY_6  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  BILL_AMT5  \
ID
1      -2     -2       3913       3102        689          0          0
2       0      2       2682       1725       2682       3272       3455
3       0      0      29239      14027      13559      14331      14948
4       0      0      46990      48233      49291      28314      28959
5       0      0       8617       5670      35835      20940      19146

    BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
ID
1           0         0       689         0         0         0         0
2        3261         0      1000      1000      1000         0      2000
3       15549      1518      1500      1000      1000      1000      5000
4       29547      2000      2019      1200      1100      1069      1000
5       19131      2000     36681     10000      9000       689       679

    default payment next month
ID
1                            1
2                            1
3                            0
4                            0
5                            0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(24)
memory usage: 5.7 MB
None
            LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE  \
count    30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean    167484.322667      1.603733      1.853133      1.551867     35.485500
std     129747.661567      0.489129      0.790349      0.521970      9.217904
min      10000.000000      1.000000      0.000000      0.000000     21.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000

              PAY_0         PAY_2         PAY_3         PAY_4         PAY_5  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      -0.016700     -0.133767     -0.166200     -0.220667     -0.266200
std        1.123802      1.197186      1.196868      1.169139      1.133187
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      8.000000      8.000000      8.000000      8.000000

              PAY_6      BILL_AMT1      BILL_AMT2     BILL_AMT3  \
count  30000.000000   30000.000000   30000.000000  3.000000e+04
mean      -0.291100   51223.330900   49179.075167  4.701315e+04
std        1.149988   73635.860576   71173.768783  6.934939e+04
min       -2.000000 -165580.000000  -69777.000000 -1.572640e+05
25%       -1.000000    3558.750000    2984.750000  2.666250e+03
50%        0.000000   22381.500000   21200.000000  2.008850e+04
75%        0.000000   67091.000000   64006.250000  6.016475e+04
max        8.000000  964511.000000  983931.000000  1.664089e+06

           BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count   30000.000000   30000.000000   30000.000000   30000.000000
mean    43262.948967   40311.400967   38871.760400    5663.580500
std     64332.856134   60797.155770   59554.107537   16563.280354
min   -170000.000000  -81334.000000 -339603.000000       0.000000
25%      2326.750000    1763.000000    1256.000000    1000.000000
50%     19052.000000   18104.500000   17071.000000    2100.000000
75%     54506.000000   50190.500000   49198.250000    5006.000000
max    891586.000000  927171.000000  961664.000000  873552.000000

           PAY_AMT2      PAY_AMT3       PAY_AMT4       PAY_AMT5  \
count  3.000000e+04   30000.00000   30000.000000   30000.000000
mean   5.921163e+03    5225.68150    4826.076867    4799.387633
std    2.304087e+04   17606.96147   15666.159744   15278.305679
min    0.000000e+00       0.00000       0.000000       0.000000
25%    8.330000e+02     390.00000     296.000000     252.500000
50%    2.009000e+03    1800.00000    1500.000000    1500.000000
75%    5.000000e+03    4505.00000    4013.250000    4031.500000
max    1.684259e+06  896040.00000  621000.000000  426529.000000

            PAY_AMT6  default payment next month
count   30000.000000                30000.000000
mean     5215.502567                    0.221200
std     17777.465775                    0.415062
min         0.000000                    0.000000
25%       117.750000                    0.000000
50%      1500.000000                    0.000000
75%      4000.000000                    0.000000
max    528666.000000                    1.000000

* [15 points] Verify data quality: Explain any missing values, duplicate data, and outliers.
Are those mistakes? How do you deal with these problems? Give justifications for your
methods.

* [10 points] Visualize appropriate statistics (e.g., range, mode, mean, median, variance,
counts) for a subset of attributes. Describe anything meaningful you found from this or if
you found something potentially interesting. Note: You can also use data from other
sources for comparison. Explain why the statistics run are meaningful.

* [15 points] Visualize the most interesting attributes (at least 5 attributes, your opinion
on what is interesting). Important: Interpret the implications for each
visualization. Explain for each attribute why the chosen visualization is appropriate.

* [15 points] Visualize relationships between attributes: Look at the attributes via scatter
plots, correlation, cross-tabulation, group-wise averages, etc. as appropriate. Explain
any interesting relationships.

* [10 points] Identify and explain interesting relationships between features and the class
you are trying to predict (i.e., relationships with variables and the target classification).

* [5 points] Are there other features that could be added to the data or created from
existing features? Which ones?

# Exceptional Work (10 points total)
* You have free reign to provide additional analyses.
*One idea: implement dimensionality reduction, then visualize and interpret the results.